<div id="active-ride-requests">
<h2>Active Ride Requests:</h2>
<div id="active-rides">
  <% current_rider.active_rides.each do |ride| %>
    <div class="active-ride-info">
      Requested Time: <%= convert_to_readable(ride.created_at) %>
      <br>
      Ride Duration: <%= pluralize(ride.time_in_minutes, "minute") %>
      <br>
      Ride Distance: <%= pluralize(ride.mileage, "mile") %>
      <br>
      Estimated Cost: <%= number_to_currency(ride.estimated_cost) %>
      <% if ride.driver %>
        <br>
        Your Driver: <%= ride.driver.name %> (<%= ride.driver.car_make %> <%= ride.driver.car_model %>)
      <% end %>
      <br>
      Ride Status: <%= ride.status %>
    </div>
  <% end %>
</div>
</div>
