<h1>Welcome, <%= current_rider.name %>!</h1>

<% if current_rider.active_rides.length == 0 %>
  <%= link_to "Request a Ride", new_ride_path %>
  <h2>Active Ride Requests: None</h2>
<% else %>
  <h2>Active Ride Requests:</h2>
  <div>
    <% current_rider.active_rides.each do |ride| %>
      <div>
        <h4><%= ride.created_at %></h4>
        <br>
        <h4><%= ride.status %></h4>
        <% if ride.driver %>
          <br>
          <h4>Your Driver: <%= ride.driver.name %> (<%= ride.driver.car_make %> <%= ride.driver.car_model %>)</h4>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="completed-rides">
<h2>Completed Rides:</h2>
  <% current_rider.completed_rides.each do |ride| %>
    Rider: <%= ride.rider_name %>
    <br>
    Driver: <%= ride.driver_name %>
    <br>
    Pickup Location: <%= ride.pickup_location %>
    <br>
    Dropoff Location: <%= ride.dropoff_location %>
    <br>
    Requested Time: <%= ride.created_at %>
    <br>
    Accepted Time: <%= ride.accepted_time %>
    <br>
    Pick-up Time: <%= ride.pickup_time %>
    <br>
    Completed Time: <%= ride.dropoff_time %>
    <br>
    Ride Cost: TBD
  <% end %>
</div>
