<!DOCTYPE html>
<html>
<head>
  <title>FinalAssessment</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_rider %>
  <%= link_to "Logout", rider_logout_path, method: :delete %>
<% elsif current_driver %>
  <%= link_to "Logout", driver_logout_path, method: :delete %>
<% else %>
  <%= link_to "Login as Rider", rider_login_path %>
  <%= link_to "Login as Driver", driver_login_path%>
<% end %>
<br>
<%= flash[:message] %>
<%= flash.now[:errors] %>

<%= yield %>

</body>
</html>
